include LICENCE
include README.md
include environment.yml
include pyproject.toml

recursive-include src/picmol *.py *.csv *.tsv *.mplstyle

recursive-exclude dist *
recursive-exclude tests *
recursive-exclude tutorials *