include LICENCE
include README.md
include environment.yml
include pyproject.toml

recursive-include picmol *.py *.csv *.tsv *.txt

recursive-exclude dist *
recursive-exclude tests *
recursive-exclude tutorials *