sphinx
furo
nbsphinx
Pandoc
sphinx_copybutton
tree_format
contourpy==1.3.1
cycler==0.12.1
et-xmlfile==2.0.0
fonttools==4.56.0
kaleido==0.2.1
kiwisolver==1.4.8
matplotlib==3.10.1
mpltern==1.0.4
mpmath==1.3.0
narwhals==1.29.1
numpy==2.2.3
openpyxl==3.1.5
pandas==2.2.3
pillow==11.1.0
plotly==6.0.0
pyparsing==3.2.1
pytz==2025.1
rdkit==2024.9.5
scipy==1.13.1
sympy==1.13.3
tzdata==2025.1


